/.github
/.idea
/dist
/node_modules
/run

/.editorconfig
/.gitattributes
/.gitignore
/.prettierignore
/.prettierrc
/action.yaml
/eslint.config.mjs
/LICENSE
/package.json
/pnpm-lock.yaml
/README.md
/tsconfig.json